header{ /* to style the elements within the header */
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin: -8px;
    background-color: #17072b;

    li{ /* to style the list elements for the nav bar */
        display: inline; /* makes the nav bar horizontal */
        align-content: center;
        font-size: 22px;
        font-weight: 400;
        padding-left: 10px;
        padding-right: 10px;
    }

    h1{ /* to style the h1 heading */
        font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
        text-decoration: underline;
        font-weight: 700;
    }
}

section{ /* for the styling of the section tag within the main tag */
    float: left;
    width: 60%;
    margin-top: 1px;
    margin-left: 50px;

    h1{ /* to style the h1 heading in the section tag */
        font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
        text-decoration: underline;
        font-weight: 700;
    }

    img{ /* to style the image in this section */
        width: 99%;
        height: 270px;
    }

    p{ /* styling the text in this section */
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        font-weight: 400;
    }
}

aside{ /* for the styling of the aside tag within the main tag */ 
    float: right;
    width: 30%;
    height: 392px;
    background-color: #172d67;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 10px;
    margin-top: 18px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: -8px;
    margin-bottom: 15px;

    h1{ /* to style the level 1 heading in the aside tag */
        font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
        text-decoration: underline;
        font-weight: 700;
        padding-left: 20px;
    }

    p{ /* styling the text in the aside tag */
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        font-weight: 400;
        padding-left: 20px;
        padding-bottom: 5px;
    }

    img{ /* styling the images in the aside tag */
        height: 155px;
        width: 155px;
        padding-left: 20px;
        padding-top: 30px;
    }
}

footer{ /* to style the footer */
    clear: both;
    background-color: #8c15e9;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    margin-left: -8px;
    margin-right: -8px;
}
