body{ /* for the styling of the body */
    text-align: center;
    background-color: #02262a;

    header{ /* for styling the header */
        text-align: center;
        font-family: "Satisfy", cursive;
        background-color: #063339;
        color: beige;
    }
}

figure{
    color:white;
    text-align: center;
    font-size: 20px;
    margin: 0%;
    padding: 0%;

    h3{ /* to style the level 3 heading */
        text-align: center;
        font-family: "Caveat", cursive;
        font-size: xx-large;
        color: antiquewhite;
        margin-bottom: 0%;
    }

    p{ /* to style the text in the p tags */
        color: antiquewhite;
        font-size: small;
        margin-top: 0%;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: #063339;
        padding: 5px;
        width:fit-content;
        text-align: center;
    }
}

#vernazza{ /* id attribute for styling the first image */
    width:33%;
    height:33%;
    filter:sepia(100%); /* adds a sepia filter to the image */
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}

#vernazza:hover{ /* id attribute for styling the first image when you hover over it */
    filter: none; /* removes the filter when mouse pointer hovers over the image */
    transition: 1s;
}

#milan{ /* id attribute for styling the second image */
    width:33%;
    height:33%;
    filter:blur(3px); /* adds a blurring filter to the image */
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}

#milan:hover{ /* id attribute for styling the second image when you hover over it */
    filter: none; /* removes the filter when mouse pointer hovers over the image */
    transition: 1s;
}

#florence{ /* id attribute for styling the third image */
    width:33%;
    height:33%;
    filter:grayscale(100%); /* adds a grayscale filter to the image */
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}

#florence:hover{ /* id attribute for styling the third image when you hover over it */
    filter: none; /* removes the filter when mouse pointer hovers over the image */
    transition: 1s;
}

footer{ /* to style the footer */
    color: white;
    font-family: "Satisfy", cursive;
    font-size: smaller;
    background-color: #063339;
    padding: 5px;
    margin-top: 10px;
}
