body{ /* for styling the whole body of the webpage */
    background-color: #9c44ab; /* adds a color to the background */
    color: #ffff00; /* specifies font color */
    padding: 10px; /* adds space between elements and border */
    padding-top: 0.5px; /* adds space between elements and border (specifically at the top) */
    padding-bottom: 0.5px; /* adds space between elements and border (specifically at the bottom) */
}

header{ /* for styling the header */
    background-color: #772e84;
    color: black;
    text-align: center; /* places text in the center of the header */
    padding: 20px;
    padding-bottom: 0.5px;
    margin: -10px; /* creates space around the header */
    margin-left: -20px; /* creates space around the header (to the left) */
    margin-right: -18px; /* creates space around the header (to the left) */
    font-family: "Mate SC", serif; /* specifies the font */

    h1{ /* to style the h1 headings */
        text-decoration: overline 2px; /* adds a line over the heading */
    }

    ul{ /* to style the unordered lists */
        font-family: "Cinzel", serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    li{
        display: inline;
        padding: 10px;
    }
}

a{ /* to style the hyperlinks */
    text-decoration: none;
}
a:link, a:visited{
    color: black;
}
a:hover{ /* to style the hyperlinks when the mouse pointer hovers over them */
    color: #cd0096;
}

main{ /* styles the main section of the webpage */
    width: 70%; /* sets the width of the section */
    margin-left: auto; /* for centering the content */
    margin-right: auto; /* for centering the content */

    p{ /* to style the text in the p tags */
        font-family: "Mate SC", serif;
        text-align: justify;

        b{ /* styles the text that is specifically in the b tags */
            font-size: 20px;
            text-decoration: overline solid 0.5px;
        }
    }

    table{ /* to style the tables */
        font-family: "Mate SC", serif;
        text-align: center justify;
        font-size: 15px; /* changes text size */
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        th{
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 300;
            background-color: #370341;
            width: 30px;
        }
    }
}

#title{ /* id attribute */
    font-family: "Cinzel Decorative", serif ;
    font-size: 90px;
    font-weight: 700; 
    text-align: center;
    padding: 15px;
    display: block;
    border: #ffff00 2px solid;
    margin-top: 35px;
    background-color: #560963;
}

h1{ 
    font-size: 30px;
    text-align: center;
    font-family: "Cinzel", serif;
    font-weight: 600;
    margin-top: 15px;
}

.smallBox{
    li{ /* to style list items */
        list-style: none;
        border:#f9f90a solid 1px;
        width:90%;
        padding: 10px;
        text-align: center;
        margin-bottom: 15px;
        background-color: #370341;
        font-family: "Mate SC", serif;
        font-size: 14px;
    }
}

#left{
    float: left; /* places content to the left of the page */
}

#right{
    float: right; /* places content to the right of the page */
}

.revs{
    margin-left: 15px;
    margin-right: auto;
}

.button{ /* to style the button */
    border: solid 2px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    text-align: center;

    a{
        font-family: "Manrope", sans-serif;
        display: block;
        font-weight: 400;
        font-size: 22px;
    }
}

.button:hover{ /* to change the style of the button when you hover over it */
    background-color:#cd0096;
    color: white;
}

.chars{
    clear: both;
}

.box{
    padding: 40px;
    display: block;
    border: #ffff00 2px solid;
    margin-top: 35px;
    background-color: #560963;
}

footer{ /* styling the footer */
    clear: both;
    text-align: center;
    margin-top: 10px;
}
