body{ /* to style the body */
    background-color: #2C3E50;
    margin-left: auto;
    margin-right: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

main{ /* to style the elements in the main tag */
    background-color: aliceblue;
    height: 100%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    input{ /* to style the input elements */
        padding: 5px;
        margin: 8px;
    }
    
    aside{ /* for styling the image */
        width:100%;
    
        img{
            height: 190px;
            width: 100%;
        }
    }
}

.takingInput{
    p{
        font-weight: 500;
        display: inline;
    }
}

#output{ /* for styling the output elements */
    margin-top: 10px;
    
    p{
        padding-top: 5px;
        font-size: 20px;
        font-weight: 700;
    }

    h2{
        padding-bottom: 10px;
    }

    button{ /* styling the button */
        padding: 8px;
        border: 2px solid black;
        border-radius: 8px;
        background-color: #338bab;
        color: black;
        font-weight: 700;
    }

    button:hover{ /* styling the button when it is hovered over */
        background-color: #91e2e7;
        color: black;
    }
}

footer{ /* for styling the footer */
    color: #BDC3C7;
    width: 100%;
    text-align: center;
    background-color: #34495E;
    font-size: small;
    position: fixed;

    a{ /* styling the hyperlink in the footer */
        color: #BDC3C7;
    }
}
