body{ /* will style the whole body of the page */
    background-color: #a3aaaa; /* sets the background color */
    margin-left: 5%; /* adds space outside the border (to the left) */
    margin-right: 5%; /* adds space outside border (to the right) */
}

header{ /* to style the header */
    background-color: #3b0313; /* for background color of the header specifically */
    color: rgb(255, 255, 255); /* for text color */
    text-align: center; /* aligns text in the center */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* for changing the font */
    font-size: 30px; /* for setting the size of the text */
    padding-top: 10px; /* adds space on the top, between the border and elements */
    padding-bottom: 10px; /* adds space on the bottom, between the border and elements */
    margin-right:-20px; 
    margin-left: -20px;
}

.divide{ /* to style the divs with the class 'divide' */
    margin-top: 10px;
    font-size: 25px;
}

.head{ /* to style the elements within the divs that have the class 'head' */
    margin-top: 20px;
    font-size: 20px;
    background-color: #6c1e34;
}

table{ /* to style the elements within the tables */
    padding: 20px;
    th{ /* to style the header cells */
        padding: 20px;
    }
    td{ /* to style the data cells */
        padding: 20px;
    }
}

.center{
    text-align: center;
}

pre{
    white-space:pre-line;
}

#text{
    border: solid 3px red;
}

#col {
    color: hotpink; 
}

#bgColor {
    background-color:darkorange;
}

#padding {
    border: solid 3px black;
    padding: 2px;
}

#align {
    border: 2px solid;
    padding: 1px;
    text-align: right;
}

#size {
    font-size: 24px;
}

#weight {
    font-weight: 700;
}

#decor {
    text-decoration: overline 2px solid;
}


table{ /* to style the elements within the tables */
    text-align: center justify;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    th{ /* to style the header cells */
        background-color: #b96565;
    }

    td{ /* to style the data cells */
        background-color: rgb(213, 182, 182);
    }
}
