body{ /* styling the body */
    background-color: #011e19;
}

video{ /* for the styling of the video */
    height: 50%; /* setting the height of the video frame */
    width: 50%; /* setting the width of the video frame */
    display: block;
    margin-left: auto; /* to center the video */
    margin-right: auto; /* to center the video */
    margin-top: 8%; /* to center the video */
    margin-bottom: 7%; /* to center the video */ 
    padding: 20px;
    border: 2px solid white;
}
